{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: 'You have been signed out'
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">For your security, we have signed you out of the case management service.</p>
      <a href="{{ loginPath }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button" data-testid="logged-out-login">
        Sign in
      </a>
    </div>
  </div>
{% endblock %}
